.title {
  cursor: pointer;
}

@media (min-width : 560px) {
  .iconMenu {
    display: none!important;
  }
  .login-button {
    display: none!important;
  }
}

@media (max-width : 560px) {
  .onlyLargeScreens {
    display: none!important;
  }
}
