.title {
  cursor: pointer,
};

button {
  background-color: #336!important;
}

@media (min-width : 480px) {
  .iconMenu {
      display : none !important;
  }
}

@media (max-width : 480px) {
  .onlyLargeScreen s{
      display : none !important;
  }
}
