html, body, :global(#root) {
  height : 100%;
  width : 100%;
  padding : 0;
  margin : 0;

}
* {
  font-family : Roboto, sans-serif;
}

html, body, #root {
  width: 100%;
  height : 100%;
}

.__app__main {
  display : flex;
  flex-direction : column;
  height : 100%;
}

.__app__header {
}

.__app__body__container {
  display : flex;
  flex : 1;
  height : 100%;
}

.__app__body__container__left {
  flex : 1;
}
