.img {
  max-height : 300px;
  width : 100%;
}

.cardActive {
  border: 4px solid #000000;
  border-radius: 7px;
  outline: none;
  border-color: #1D2C54;
  box-shadow: 0 0 10px #1D2C54;
}

.dialogClassName {
  z-index : 800 !important;
}

.workoutList {
	flex: 1;
	overflow-y: auto;
}

.mapContainer {
	flex : 1;
}

.appRoot {
	display : flex;
	flex-direction : column;
}

.bottomNav {
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  display: none;
  justify-content: flex-end;
}

.gridList {
  width: 500px;
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
};

.workout {
  padding: 20px 12px 10px;
  box-sizing: border-box;
}
