.profile-details {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.profile-details > div:first-child {
  width: 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-details > div:last-child {
  width: 12em;
}

.profile-details > div:nth-child(2) {
  width: 12em;
}

.profile-details .description textarea {
  text-align: center;
}

.profile-details .nickname {
  padding-left: 1em;
}

.profile-user-photo {
  position: relative;
}

.profile-user-info .edit-profile-photo-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.profile-user-info .edit-profile-photo-container button {
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
}

.events__mobile {
  display: none;
}

@media all and (max-width: 560px) {
  .__app__footer {
    display: flex;
  }

  .events__mobile {
    display: block;
  }

  .rbc-calendar {
    display: none!important;
  }

  #user-nickname {
    text-align: center;
  }

  .profile-details {
    flex-wrap: wrap;
  }

  .profile-details div {
    width: 100%!important;
  }
}
