.profile-calendar {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.profile-calendar .col {
  width: 12.5%;
}

.profile-calendar .col:nth-child(2) {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.profile-calendar .col .outline-square, .profile-calendar .col .grey-square {
  border: 2px solid black;
  width: 8em;
  height: 8em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-calendar .col .outline-square span {
  padding: 1.5em;
}

.profile-calendar .col .grey-square {
  background: grey;
  border: none;
}
