.profile-calendar-bar {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.profile-calendar-bar .col {
  width: 12.5%;
  text-align: center;
}

.profile-calendar-bar .col:nth-child(2) {
  width: 75%;
  display: flex;
  flex-direction: row;
}

.profile-calendar-bar .col button {
  border: 1px solid grey;
  border-radius: 2.2em;
  padding: 5px;
  cursor: pointer;
  background: none;
}

.profile-calendar-bar .col button.disabled {
  cursor: default;
  pointer-events: none;
  outline: none;
}

.profile-calendar-bar .col button:hover {
  border: 1px solid black;
}

.profile-calendar-bar .col button .material-icons {
  color: grey !important;
  display: block !important;
}

.profile-calendar-bar .col button:hover .material-icons {
  color: black !important;
}

.profile-calendar-bar .col .nested-col {
  width: 14.28%;
  display: flex;
  flex-direction: column;
}

.profile-calendar-bar .col .nested-col.currentDay span {
  color: #61b2a7;
  font-weight: bold;
}

.profile-calendar-bar .col .nested-col span {
  padding-bottom: 0.25em;
}
