.workouts{
  display : flex;
  flex-wrap: wrap;
  /*trying to break into 3 columns*/
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

.workout{
  flex : 1;
  margin: 10px 15px 10px 10px;
}
.submitButton{
  margin : 12px;
}
.banner{
  display : block;
  background-image : url('https://static1.squarespace.com/static/5633dd05e4b03216fd2f5ab9/t/5790125d8419c25e40eb78a0/1469059682228/?format=1500w');
  background-size : cover;
  height : 700px;
  position : relative;
  text-align : center;
  max-height : 100%;
}
.bannerInner{
  position :absolute;
  top : 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  color: white;
}
.bannerCard{
  background : transparent !important;
  box-shadow : none !important;
}
.heading{
  margin : 0 !important;
  padding: 0.67em 0;
  text-transform : uppercase;
  font-weight : bold;
}

.subHeading{
  font-style : italic;
 font-weight : normal;
}

.featuredWorkouts{
  position : relative;
  text-align : center;
  margin: 10px 15px 10px 10px;

}